.card {
   margin: 0 2% !important;
   width: 300px;
}

@media (max-width: 770px) {
   .card {
      margin: 2% 0 !important;
   }
}

@media (max-width: 1400px) {
   .card {
      margin: 1.3% 0 !important;
   }
}
